<!DOCTYPE html>
<html>
	<head>
		<title>MyWay Sinatra Framework</title>
	</head>
	<body>
		<h1>
			<a href="/">MyWay Sinatra Framework</a>
		</h1>
		<p>
			<% if logged_in? %>
				<table>
					<tr>
						<td>
							<%= "Logged in as #{current_user.full_name}" %>
						</td>
						<td>
							<form action="/sessions" method="post">
								<input name="_method" type="hidden" value="delete" />
							  	<input type="submit" value="Logout">
							</form>
						</td>
					</tr>
				</table>
			<% else %>
				<a href="/login">Login</a>
				<a href="/signup">Signup</a>
			<% end %>
		</p>
		<%= yield %>
	</body>
</html>