<h2>user/index.erb</h2>
<a href="/users/new">add new user</a>
<br>
<br>
<% if @users.count < 1 %>
	<p>no users to display</p>
<% else %>
	<table>
		<tr>
			<th>full name</th>
			<th>options</th>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<td>
					<a href="/users/<%= user.id %>">
						<b><%= user.full_name %></b>
					</a>
				</td>
				<td>
					<a href="/users/<%= user.id %>/edit">edit</a>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>